@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Oswald";
    src: url("/fonts/Oswald.ttf");
}

@font-face {
    font-family: "Raleway";
    src: url("/fonts/Raleway.ttf");
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  * {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  

